NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCKD1SGy1i12GD3R311QFNwXNY91tH96JY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=hacka-b4cbd.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=hacka-b4cbd
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=hacka-b4cbd.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=720098218386
NEXT_PUBLIC_FIREBASE_APP_ID=1:720098218386:web:9690ef78ac72036f2db14b
NEXT_PUBLIC_API_URL=http://localhost:8000/api
